.aboutWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.aboutWrapperDark {
  background: linear-gradient(120deg, #7e7f80 50%, #292b2c 50%);
}

.aboutWrapperLight {
  background: linear-gradient(120deg, #fff 50%, #7e7f80 50%);
}

.boxWrapper {
  width: 50vw;
}

@media screen and (max-width: 600px) {
  .aboutWrapper {
    flex-direction: column;
    height: 100%;
  }

  .boxWrapper {
    width: 100vw;
  }
}
