@property --angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}

@property --circle-diameter {
  syntax: "<length>";
  inherits: true;
  initial-value: 0;
}

$walls: 6;
$half: $walls / 2;
$surfaces: $walls * 2;

:root {
  --color-background: conic-gradient(
    black,
    #192d39,
    #0e1e2e,
    #281133,
    #14293d,
    #16031a,
    black
  );
  --color-on-background: white;

  --c1: #6eccee;
  --c2: #ffdc99;
  --c3: #e3a4d0;
  --c4: #d455ff;
  --animation-duration: 2.8s;
  --border-width: 0.6vmin;
  --glow: drop-shadow(0 0 6vmin rgba(255, 255, 255, 0.19));

  --hole-pos-y: 20%;
  --hole-radius: 22vmin;
  --offset-per-surface: calc(360deg / 24);
}

.container {
  position: relative;
  width: 50vmin;
  aspect-ratio: 1/1.2;
  --angle: 30deg;
  animation: angle var(--animation-duration) linear infinite;
  transform-style: preserve-3d;
  transform: rotateX(-45deg) rotateY(45deg);
}

.wall {
  position: absolute;
  inset: 0;
  --wall-gap: 10vmin;
  filter: var(--glow);
  $surfaceIndex: 0;
  @for $i from 1 through $walls {
    $index: $i - 3;
    $surfaceIndex: $surfaceIndex + 1;

    &:nth-of-type(#{$i}) {
      transform: translateZ(calc(var(--wall-gap) * #{$index - 1}));
      --index: #{$i};

      .surface,
      .top {
        --index: #{$surfaceIndex};

        &:nth-child(2) {
          $surfaceIndex: $surfaceIndex + 1;
          --index: #{$surfaceIndex};
        }
      }
    }
  }
}

.surface {
  position: absolute;
  inset: 0;
  --angle-offset: calc(var(--index) * var(--offset-per-surface));
  --circle-diameter: calc(
    var(--hole-radius) * cos(calc(var(--angle) + var(--angle-offset)))
  );
  -webkit-mask: radial-gradient(
    circle at 50% var(--hole-pos-y),
    transparent var(--circle-diameter),
    black var(--circle-diameter)
  );
  mask: radial-gradient(
    circle at 50% var(--hole-pos-y),
    transparent var(--circle-diameter),
    black var(--circle-diameter)
  );
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-position: 0 0;
  mask-position: 0 0;
  background: radial-gradient(
      circle at 50% var(--hole-pos-y),
      var(--c4) calc(var(--circle-diameter) + var(--border-width)),
      var(--c4) calc(var(--circle-diameter) + var(--border-width)),
      transparent var(--circle-diameter)
    ),
    linear-gradient(black, black),
    linear-gradient(
      45deg,
      var(--c1),
      var(--c3),
      var(--c2),
      var(--c1),
      var(--c4),
      var(--c3),
      var(--c2)
    );
  background-repeat: no-repeat;
  background-size: 100% 100%,
    calc(100% - var(--border-width) * 2) calc(100% - var(--border-width) * 2),
    100%, 100%;
  background-position: 0 0, var(--border-width) var(--border-width), 0 0;

  &:nth-child(2) {
    --circle-diameter: calc(
      var(--hole-radius) * cos(calc(var(--angle) + var(--angle-offset)))
    );
    transform: translate(4vmin, 5.7vmin);
  }
}

.left {
  position: absolute;
  transform: skewY(55deg) translateY(2.9vmin);
  inset: 0;
  width: 4.5vmin;
  background: linear-gradient(black, black) no-repeat,
    linear-gradient(to top, var(--c1), var(--c3), var(--c2), var(--c1))
      no-repeat;
  background-size: calc(100% - var(--border-width) * 2)
      calc(100% - var(--border-width) * 2),
    100%, 100%;
  background-position: var(--border-width) var(--border-width), 0 0;
}

.top {
  position: absolute;
  transform: skewX(36deg) translateX(2vmin);
  inset: 0;
  height: 6vmin;
  background: linear-gradient(black, black) no-repeat,
    linear-gradient(to right, var(--c1), var(--c3), var(--c2), var(--c1))
      no-repeat;
  background-size: calc(100% - var(--border-width) * 2)
      calc(100% - var(--border-width) * 2),
    100%, 100%;
  background-position: var(--border-width) var(--border-width), 0 0;
  --angle-offset: calc(var(--index) * var(--offset-per-surface));
  --circle-diameter: calc(
    var(--hole-radius) * cos(calc(var(--angle) + var(--angle-offset)))
  );
  -webkit-mask: radial-gradient(
    calc(var(--circle-diameter) * 0.86) at 50%
      calc(60% / cos(calc(var(--angle) + var(--angle-offset)))),
    transparent var(--circle-diameter),
    black var(--circle-diameter)
  );
  mask: radial-gradient(
    calc(var(--circle-diameter) * 0.86) at 50%
      calc(60% / cos(calc(var(--angle) + var(--angle-offset)))),
    transparent var(--circle-diameter),
    black var(--circle-diameter)
  );
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-position: 0 0;
  mask-position: 0 0;
}

@keyframes angle {
  from {
    --angle: 360deg;
  }
  to {
    --angle: 0deg;
  }
}

.ball-container {
  display: grid;
  place-items: center;
  position: absolute;
  inset: 0;
  transform: translateZ(-60vmin);
  animation: ball-container var(--animation-duration) linear infinite;
}

.ball {
  width: 42vmin;
  aspect-ratio: 1;
  border-radius: 50%;
  filter: var(--glow);
  background: radial-gradient(
      21.5vmin 21.5vmin at center,
      black 20vmin,
      transparent 20vmin
    ),
    conic-gradient(
      var(--c1),
      var(--c3),
      var(--c2),
      var(--c4),
      var(--c3),
      var(--c1),
      var(--c2),
      var(--c1)
    );
  box-shadow: 0 0 10vmin rgba(255, 255, 255, 0.08);
  transform: rotateX(45deg) rotateY(45deg) translateY(-20vmin);
}

@keyframes ball-container {
  from {
    transform: translateZ(-40vmin);
    opacity: 0;
  }
  10% {
    transform: translateZ(-25vmin);
    opacity: 1;
  }

  85% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateZ(70vmin);
  }
}

.homeWrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background: var(--color-background);
  color: var(--color-on-background);
  overflow: hidden;
  mix-blend-mode: plus-lighter;
}

.aboutWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  // [theme.breakpoints.down(sm)]: {
  //   flexDirection: column;
  //   height: 100%;
  // }
}

.aboutWrapperLight {
  background: linear-gradient(120deg, #7e7f80 50%, #292b2c 50%);
}

.aboutWrapperDark {
  background: linear-gradient(120deg, #fff 50%, #7e7f80 50%);
}

.boxWrapper {
  width: 50vw;
  // [theme.breakpoints.down(sm)]: {
  //   width: 100vw;
  // }
}

// "@keyframes rollInLeft": {
//     "0%": {
//       webkitTransform: "translateX(-800px) rotate(-540deg)";
//       transform: "translateX(-800px) rotate(-540deg)";
//       opacity: 0;
//     }
//     "100%": {
//       webkitTransform: "translateX(0) rotate(0deg)";
//       transform: "translateX(0) rotate(0deg)";
//       opacity: 1;
//     }
//   }
.rollInLeft {
  //   webkit-animation: $rollInLeft 0.6s ease-out both;
  //   animation: $rollInLeft 0.6s ease-out both;
}
.aboutImageContainer {
  position: relative;
  height: 100%;
  background: #fff;
  box-shadow: 10px 10px 18px 3px rgba(25, 81, 144, 0.75);
  transition: 0.3s ease-out;
  cursor: pointer;
  margin: auto;
  transform: scale(0.75) !important;
}
//   &:hover: {
//     boxShadow: 0 1px 35px 0 rgba(0; 0; 0; 0.3);
//   }
.profileImage {
  background: #000;
  height: 100%;
  width: 100%;
  z-index: 2;
  transition: transform 0.5s ease-out;
  // &:hover: {
  //   transform: translateY(-100px);
  //   // Child selector
  //   & $profileA: {
  //     opacity: 1;
  //     transform: translateY(50px);
  //   };
  //   & $info: {
  //     color: black;
  //     transform: translateY(100px);
  //   };
  // };
}
.profileImageAbout {
  height: 100%;
  width: 100%;
  object-fit: cover;
  // &:hover: {
  //   opacity: 0.7 !important;
  // }
}
.profileInfo {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
  line-height: 26px;
  color: transparent;
}
.profileInfoHeader {
  font-size: 27px;
  margin: 3px 0;
}
.infoSubheader {
  color: #1a1a1a;
}
.infoLocation {
  margin-left: 24px;
}
.profileUL {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  list-style: none;
}
.profileLI {
  margin: 0 5px;
}
.profileA {
  text-align: center;
  display: block;
  height: 50px;
  width: 50px;
  color: white;
  fill: white;
  background: #195190ff;
  border-radius: 50%;
  line-height: 50px;
  font-size: 20px;
  opacity: 0;
  transform: translateY(200px);
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  // &:hover: {
  //   background: #91c9ff;
  // };
  // [theme.breakpoints.up(lg)]: {
  //   height: 150px;
  //   width: 150px;
  //   lineHeight: 150px;
  //   fontSize: 60px;
  // }
}
.linkedIn {
  transition: 0.5s;
  background: #0077b5;
  // &:hover: {
  //   background: #fff;
  //   color: #0077b5;
  // }
}
.github {
  transition: 0.5s;
  background: #211f1f;
  // &:hover: {
  //   background: #fff;
  //   color: #211f1f;
  // }
}
.gitlab {
  transition: 0.5s;
  background: radial-gradient(circle at 30% 100%, #e2432a, #fc6d27, #fca326);
  // &:hover: {
  //   background: #fff;
  //   color: #fc6d27;
  // }
}
.gmail {
  transition: 0.5s;
  background: #bb001b;
  // &:hover: {
  //   background: #fff;
  //   color: #bb001b;
  // };
}

// Skills
@mixin stagger-anim-delay($i, $initial-delay, $stagger-delay) {
  @while $i > 0 {
    &:nth-of-type(#{$i}) {
      animation-delay: $initial-delay + $stagger-delay * $i;
    }
    $i: $i - 1;
  }
}

$baseFontSize: 16px;
$baseLineHeight: 1;

$chartGap: 10px;
$chartCount: 3;
$chartOneCount: 11;
$chartTwoCount: 2;
$chartThreeCount: 4;
$totalChartCount: $chartOneCount + $chartTwoCount + $chartThreeCount;

$titleGap: 10px;
$titleHeight: $baseFontSize * $baseLineHeight + $titleGap;

$chartBarHeight: 30px;
$chartBarGap: 10px;

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.skills {
  //   width: 80%;
  //   max-width: 960px;
  height: 90vh;
  // height: $totalChartCount * ($chartBarHeight + $chartBarGap) + ($chartCount * ($chartGap + $titleHeight));
  margin: auto;

  position: relative;
}

.lines {
  height: 100%;
  position: relative;
  list-style: none;
}

.lineDark {
  height: inherit;
  width: 2px;

  position: absolute;

  background: rgba(#eee, 0.6);

  &.l--0 {
    left: 0;
  }
  &.l--25 {
    left: 25%;
  }
  &.l--50 {
    left: 50%;
  }
  &.l--75 {
    left: 75%;
  }
  &.l--100 {
    left: calc(100% - 1px);
  }
}

.lineLight {
  height: inherit;
  width: 2px;

  position: absolute;

  background: rgba(#292b2c, 0.6);

  &.l--0 {
    left: 0;
  }
  &.l--25 {
    left: 25%;
  }
  &.l--50 {
    left: 50%;
  }
  &.l--75 {
    left: 75%;
  }
  &.l--100 {
    left: calc(100% - 1px);
  }
}

.line__label {
  display: block;
  width: 100px;
  text-align: center;
  font-weight: bold;
  position: absolute;
  bottom: -20px;
  right: -50px;

  &.title {
    text-transform: uppercase;
    font-weight: bold;
  }
}

.line__labelDark {
  color: white;
  display: block;
  width: 100px;
  text-align: center;
  font-weight: bold;
  position: absolute;
  bottom: -20px;
  right: -50px;

  &.title {
    text-transform: uppercase;
    font-weight: bold;
  }
}

.charts {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.chart {
  &:not(:first-child) {
    margin-top: $chartGap;
  }
}

.chart__title {
  display: block;
  margin: 0 0 10px 10px;

  font-weight: bold;

  opacity: 0;

  animation: 1s anim-lightspeed-in ease forwards;

  .chart--prod & {
    animation-delay: 3.3s;
  }
  .chart--design & {
    animation-delay: 4.5s;
  }
}

.chart__titleDark {
  color: white;
  display: block;
  margin: 0 0 10px 10px;

  font-weight: bold;

  opacity: 0;

  animation: 1s anim-lightspeed-in ease forwards;

  .chart--prod & {
    animation-delay: 3.3s;
  }
  .chart--design & {
    animation-delay: 4.5s;
  }
}

.chart--horiz {
  overflow: hidden;
}

.chart__bar {
  $border-rad: 4px;
  height: $chartBarHeight;
  margin-bottom: $chartBarGap;

  background: linear-gradient(to left, #a2a2a1ff, #195190ff);
  border-top-right-radius: $border-rad;
  border-bottom-right-radius: $border-rad;
  opacity: 0;

  animation: 1s anim-lightspeed-in ease forwards;

  .chart--dev & {
    @include stagger-anim-delay($chartOneCount, 0.5s, 0.2s);
  }
  .chart--prod & {
    @include stagger-anim-delay($chartTwoCount, 3.8s, 0.2s);
  }
  .chart--design & {
    @include stagger-anim-delay($chartThreeCount, 5s, 0.2s);
  }
}

.chart__barDark {
  $border-rad: 4px;
  height: $chartBarHeight;
  margin-bottom: $chartBarGap;

  background: linear-gradient(to left, #91c9ff, #195190ff);
  border-top-right-radius: $border-rad;
  border-bottom-right-radius: $border-rad;
  opacity: 0;

  animation: 1s anim-lightspeed-in ease forwards;

  .chart--dev & {
    @include stagger-anim-delay($chartOneCount, 0.5s, 0.2s);
  }
  .chart--prod & {
    @include stagger-anim-delay($chartTwoCount, 3.8s, 0.2s);
  }
  .chart--design & {
    @include stagger-anim-delay($chartThreeCount, 5s, 0.2s);
  }
}

.chart__label {
  padding-left: 10px;
  line-height: 30px;
  color: white;
}

.skills {
  transform: scale(0.75);
}

// Navbar
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background: "#292b2c";
}
.toolBar {
  display: "flex";
  justify-content: space-between;
  width: "100%";
}
.navLink {
  font-size: 2em;
  list-style: none;
  transition: 0.5s;
  cursor: pointer;
  margin: 0 32px;
  color: #fff;
  text-decoration: none;
  font-weight: 100;
}

.navLink span {
  //   font-weight: 100;
  transition: all 0.5s;
}

.navLink span:nth-child(2) {
  transition-delay: 0.1s;
}
.navLink span:nth-child(3) {
  transition-delay: 0.2s;
}
.navLink span:nth-child(4) {
  transition-delay: 0.3s;
}
.navLink span:nth-child(5) {
  transition-delay: 0.4s;
}
.navLink span:nth-child(6) {
  transition-delay: 0.5s;
}
.navLink span:nth-child(7) {
  transition-delay: 0.6s;
}
.navLink span:nth-child(8) {
  transition-delay: 0.7s;
}

.navLink:hover {
  text-shadow: 1px 1px 0px #195190ff, 2px 2px 0px #195190ff,
    3px 3px 0px #195190ff;
  font-weight: 700;
}

.navLink span:hover:nth-child(8) {
  transition-delay: 0.7s;
}
.navLink span:hover:nth-child(7) {
  transition-delay: 0.6s;
}
.navLink span:hover:nth-child(6) {
  transition-delay: 0.5s;
}
.navLink span:hover:nth-child(5) {
  transition-delay: 0.4s;
}
.navLink span:hover:nth-child(4) {
  transition-delay: 0.3s;
}
.navLink span:hover:nth-child(3) {
  transition-delay: 0.2s;
}
.navLink span:hover:nth-child(2) {
  transition-delay: 0.1s;
}
.navLink span:hover:nth-child(1) {
  transition-delay: 0s;
}

.lightbulb {
  width: 150px;
  height: 150px;
  background: url("https://lh4.googleusercontent.com/-katLGTSCm2Q/UJC0_N7XCrI/AAAAAAAABq0/6GxNfNW-Ra4/s300/lightbulb.png")
    no-repeat -150px 0;
  cursor: pointer;
  z-index: 800;
  display: flex;
  justify-content: flex-end;
}
.lightBulb2 {
  width: 150px;
  height: 150px;
  background: url("https://lh4.googleusercontent.com/-katLGTSCm2Q/UJC0_N7XCrI/AAAAAAAABq0/6GxNfNW-Ra4/s300/lightbulb.png")
    no-repeat 0 0;
}

//Keyframes
@keyframes anim-lightspeed-in {
  0% {
    transform: translateX(-200%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
