.drawerPaper {
  background: #7e7f80;
  width: 30%;
  margin: 0 auto;
  font-family: "Space Mono", monospace;
}

.drawerPaperDark {
  background: #292b2c;
}

.icon {
  margin: 16px;
  padding: 0;
}

.menuBar {
  text-align: center;
}

.menuLink {
  text-decoration: none;
  font-weight: 900;
  transition: 1s;
  &:hover {
    text-shadow: 1px 1px 0px #195190ff, 2px 2px 0px #195190ff,
      3px 3px 0px #195190ff;
  }
}
.menuItem {
  color: #fff;
  padding: 24px 0;
}
.divider {
  color: #fff !important;
  background: #fff !important;
}
.sideBarLightbulbWrapper {
  display: flex;
  justify-content: center;
}
.sideBarLightbulb {
  width: 150px;
  height: 150px;
  background: url("https://lh4.googleusercontent.com/-katLGTSCm2Q/UJC0_N7XCrI/AAAAAAAABq0/6GxNfNW-Ra4/s300/lightbulb.png")
    no-repeat -150px 0;
  cursor: pointer;
  transform: scale(0.75);
}
.sideBarLightBulb2 {
  width: 150px;
  height: 150px;
  background: url("https://lh4.googleusercontent.com/-katLGTSCm2Q/UJC0_N7XCrI/AAAAAAAABq0/6GxNfNW-Ra4/s300/lightbulb.png")
    no-repeat 0 0;
}
